@using SiteAnalyzer.Models
@model MainModel
@{
    ViewBag.Title = "Home Page";
}
@section Styles{
    <link rel="Stylesheet" href="@Href("~/Content/Site.css")" />
}
@using (Ajax.BeginForm("HandleUrl", "Home", new AjaxOptions {UpdateTargetId = "input-block", OnComplete = "LoadComplete()", InsertionMode = InsertionMode.Replace}))
{
    <div id="input-block">
        @Html.Partial("UrlInputBlock")
    </div>
}
        

<div id="main-desc">  
    <div id="desc-container">
        <h1 id="desc-1">
            This web service gives you the opportunity<br/> to check the performance of your website<br> based on the site map
        </h1>
        <br/>
        <h1 id="desc-2">
            You do not have any tasks yet <br>— сreate the first task!  
        </h1>
    </div>

    <div id="load-bar-1">            
        <div class="space">
            <div class="ship">
                <div class="ship-rotate">
                    <div class="pod"></div>
                    <div class="fuselage"></div>
                </div>
            </div>
            <div class="ship-shadow"></div>
            <div class="mars">
                <div class="tentacle"></div>
                <div class="flag">
                    <div class="small-tentacle"></div>
                </div>
                <div class="planet">
                    <div class="surface"></div>
                    <div class="crater1"></div>
                    <div class="crater2"></div>
                    <div class="crater3"></div>
                </div>
            </div>            
        </div>
    </div>
</div>

