@using System.Diagnostics
@model UkadTestTask.Models.ResultDataModel
 
<div id="horizontal-indicators-container">
    <div id="itr-smloadedtime">
        <h4>SiteMap loaded in</h4>
        <h1>@(Model.SitemapLoadedMs)ms</h1>
    </div>
    <div class="hic-vertical-divider"></div>
    <div id="itr-gauge-middlespeed">
        <canvas id="gauge" width="200" height="200"></canvas>
    </div>
    <div class="hic-vertical-divider"></div>
    <div id="itr-data">
        <input type="button" class="btn btn-default">Start page-to-page test</input>
    </div>
</div>
   


<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th> 
        <th>Last Name</th> 
    </tr>
    </thead> 
    <tbody id="tbody">
    @{ int counter = 0; }
    @for (int i = 0; i < Model.Sitemap.Uris.Count; i++)
    {
        for (int j = 0; j < Model.Sitemap.Uris.ToList()[i].Value.Count; j++)
        {
            counter++;            
            <tr>
                <th scope="row">@counter</th>
                <td>@Model.Sitemap.Uris.ToList()[i].Key.Authority</td>
                <td>@Model.Sitemap.Uris.ToList()[i].Value[j].AbsoluteUri</td>
            </tr>
        }
    }    
    </tbody>
</table>
